.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-container {
  background-color: #FEFEFE;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}
.sidebar {
  flex: 2;
  order: 2;
}
.text {
  flex: 5;
  order: 1;
  border-right: 6px solid grey;
}
.planetImage {
  object-fit: cover;
  width: 100%
  max-height: 100%;
  border-radius:50%
}
body {
  background-image:url('/static/sky.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px 100px 100px 100px;
}
p {
  font-size: 50px;
  margin: 50px 50px 50px 50px;

}
h1 {
  color: #FEFEFE;
  font-size: 200px;
}
