.page-layout {
  position: relative;
  display: grid;
  grid-template-columns: 10fr 2fr;
  justify-content: space-between;
  margin-top:8vw;
  padding: 0 2vw;
  grid-template-areas:
  'content sidebar';
}

.footer{
  width: 100%;
  background-color: #111;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 8vw;
}

.header{
    width: 100%;
    padding: 0 0vw 0 0;
    box-shadow: 0 0.1em 2em grey;
    display: grid;
    grid-template-columns: 1fr 10vw;
    grid-template-rows: 1fr;
    grid-template-areas: "htext planet";
    position: absolute;
    top:0;
}

.hText{
    margin-left: 2vw;
    font-size: 4vw;
}
.text {
  grid-area: content;
}
.sidebar {
  grid-area: sidebar;
  color: #FDFEFE;
  font-size: 1em;
  background-color: #FEFEFE;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.fixed{
  position: sticky;
  top:2vw;
}

.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-area: planet;
}
.planetImage {
  cursor: pointer;
  object-fit: cover;
  z-index: 3;
  height:auto;
  width: 3vw;
  border-radius:50%;
  margin-right:2vw;
}
body {
  margin: 0;
  font-family: "lemonmilk";
}

.button{
  font-size: 1.5em;
  margin: 1vw 0;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-family: "roboto";
}
p {
  font-size: 2vw;
  color: black;
  font-family: "roboto";
}

a:link{
  color:black !important;
}

@font-face{
  font-family: 'lemonmilk';
  src:url(./LemonMilk.woff);
}

@font-face{
  font-family: 'roboto';
  src:url(./Roboto-Regular.ttf);
}

/* _It5_AnOtH3R_ */