body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#site {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(19, 1fr);
  background-color: #07d441;
  width: 100%;
  height: 100%;
}

.text {
  grid-row: 2 / span 6;
  grid-column: 2 / span 8;
  white-space: pre-wrap;
  font-size: 2.2vw;
  color: #00233f;
}

.picture_space {
  grid-row: 6 / span 7;
  grid-column: 12 / span 6;
  display: flex;
  align-items: flex-end;
}

.picture {
  object-fit: scale-down;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100%;
}

.blue_aes {
  background-color: #086da0;
  filter: opacity(0.5);
}

.white_aes {
  background-color: #bdd5db;
  animation: 1s infinite alternate bop;
}

.round_rectangle {
  border-radius: 1em;
}

.ba_1 {
  grid-row: 9 / span 2;
  grid-column: 1 / span 9;
}

.ba_2 {
  grid-row: 2 / span 2;
  grid-column: 14 / span 5;
}

.wa_1 {
  grid-row: 8 / span 2;
  grid-column: 9 / span 3;
}

.wa_2 {
  grid-row: 3 / span 2;
  grid-column: 12 / span 3;
}

.wa_3 {
  grid-row: 7 / span 2;
  grid-column: 16 / span 3;
}

@keyframes bop {
  from {
    transform: translate(0em, 0em);
  }
  to {
    transform: translate(1em, 0em);
  }
}
