.site {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  grid-template-areas:
  'header header header'
  'content content sidebar';
}

.header{
    grid-area: header;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "htext planet";
}

.hText{
    grid-area: htext;
}
.text {
  grid-area: content;
  background-color: #FEFEFE;
  border-right: 0.4em solid grey;
}
.sidebar {
  grid-area: sidebar;
  color: #FDFEFE;
  font-size: 1em;
  background-color: #FEFEFE;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.planetImage {
  position: absolute;
  top: 10%;
  right: 10%;
  grid-area: planet;
  object-fit: cover;
  height:auto;
  width: 20em;
  border-radius:50%
}
body {
  background-image:url('./sky.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px 100px 100px 100px;
}
button {
  border-radius: 1em;
  background-color: #4c74af; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4em;
  height: 4em;
  width: 10em;
}
p {
  font-size: 4em;
  color: black;
  margin: 2em 2em 2em 2em;
}
h1 {
  color: white;
  font-size: 15em;
}
