<!DOCTYPE html>
<html>
<head>
  <title>Cyptically Delicious.</title>

</head>
  <link rel="stylesheet" href="/server/static/base.css">
<body>
    <div id='site'>
        <div id='picture'>
            <img src="/server/static/pizza-slice.png" class="pic"/>
        </div>
        <div id='text-area'>
            <div id='orange' class="txt">COMPCLUB'S PIZZA</div>
            <div id='pink' class="txt">- by the slice</div>
        </div>
        <input id="input" placeholder="enter your favourite base..."></input>
    </div>

    <script>
        const input = document.getElementById("input");
        const output = document.getElementById("orange");

        const onChange = function changedInput(e){
            if(e.target.value === "64"){
                output.innerText = "RkxBR3tQMXpaNF8xNV9EZUwxQ2kwVXN9";
            }else{
                output.innerText = "COMPCLUB'S PIZZA"; 
            }
        }

        input.addEventListener('input', onChange);

    </script>

</body>
</html>
