<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
  <link rel="stylesheet" href="static/suggestions.css">
<body>
  <div class="header">
      <div class="hText">JUICY JUPITER</div>
      <div class="imgContainer">
      <a href="https://ctf-webquestions.compclub.com.au/uranus">
        <img id = "planetPicture" src = "static/jupiter_c.jpg" class="planetImage">
      <a href="https://ctf-webquestions.compclub.com.au/mars">
      <a href="https://ctf-webquestions.compclub.com.au/thehiddenpage">
        <img id = "oops" src = "static/saturn_c.png" class="secondImage">
      </a>
      </div>
      <script src="{{url_for('static', filename='draggable.js')}}"></script>
  </div>
  <div class="page-layout">
    <div class = "sidebar">
      <div class="fixed">
        <div class="button">Question 1</div>
        <div class="button">Question 2</div>
        <div class="button">Question 3 </div>
      </div>
    </div>
    <div class = "text">

      <h3>The Gas Giant</h3>
      <p>
        The fifth planet from the sun, Jupiter is what watercolor dreams are made of. Vibrant bands of clouds ripple around its thick atmosphere, making up a world so large that more than 1,300 Earths could fit inside. Its Great Red Spot seems to peer out from the swirling vapors like an enormous eye in the face of a striped giant.
        Though seemingly serene when viewed from the relative safety of our home world, Jupiter is a chaotic and stormy place. The gas giant planet's spots and swirls come from massive storms that whip up prevailing winds as fast as 335 miles an hour at the equator—faster than any known winds on Earth.
        That includes the Great Red Spot, which is a massive hurricane-like storm called an anticyclone. It's far bigger and longer lasting than any tempests that have ever raged across our planet's surface: It rotates in an ever-present oval that's more than the width of the entire Earth, although it has been shrinking for as long as humans have been observing it.
      </p>
      <p>
      Jupiter is a massive ball of gas. Its clouds are composed of ammonia and water vapor drifting in an atmosphere of hydrogen and helium. The particular cloud chemistries are likely the magic behind the planet's vibrant colors, but the exact reasons for Jupiter's painted appearance remains unknown.
      Below the gassy upper layers, the pressure and temperature increase so much that atoms of hydrogen eventually compress into a liquid. Pressures climb so high that the hydrogen loses its electrons, and the soupy mess can host an electrical charge, just like metal.
      The planet's fast spin on its axis means that one Jupiter day lasts less than 10 Earth hours, and it sparks electrical currents that may drive the planet's intense and massive magnetic field, which is 16 to 54 times as powerful as Earth's.
      Multitude of moons</p>
      <p>
        Jupiter is the second brightest planet in the night sky, after Venus, which allowed early astronomers to spot and study the massive planet hundreds of years ago. In January 1610, astronomer Galileo Galilei spotted what he thought were four small stars tagging along with Jupiter. These pinpricks of light are actually Jupiter's four largest moons, now known as the Galilean moons: Io, Europa, Ganymede, and Callisto.
        Many of these celestial orbs are as remarkable as Jupiter itself. The largest moon in the solar system, Ganymede is also the only moon known to have its own magnetic field. Volcanoes rage on Io's surface, earning it the title of the solar system's most volcanically active body. And scientists believe Europa sports a deep, vast ocean beneath its icy crust, making it a top candidate in the hunt for alien life.
        But these are not the planet's only celestial tag-alongs. Jupiter has dozens more—and there may still be more to find. In 2003 alone, astronomers identified 23 new moons. And in June of 2018, researchers discovered 12 more Jovian moons that wander in oddball paths around the giant world.
        Missions to Jupiter</p>

      <p>
        Since Galileo first laid telescope-enhanced eyes on Jupiter, scientists have continued to study the curious world from both the ground and the sky. In 1979, NASA's Voyager 1 and 2 spacecraft zipped by the gas giant, taking tens of thousands of pictures as they passed by. Among the surprises from these missions, the data revealed that giant Jupiter sports thin, dusty rings.
        And when NASA's Juno spacecraft began orbiting Jupiter in 2016, it quickly started sending back breathtaking images. The stunning pictures revealed that the planet is even more wild than we once thought. Juno returned some of the first detailed looks at the planet's poles, which revealed cyclone swarms gyrating on its surface with roots that likely extend deep below the upper bands of clouds.
        Though Jupiter has been so intensely examined, many mysteries remain. One enduring question is what drives Jupiter's Great Red Spot, and what will happen to it in the future. Then there's the question of what actually lies at Jupiter's core. Magnetic field data from the Juno spacecraft suggest that the planet's core is surprisingly large and seems to be made of a partially dissolved solid material. Whatever that is, it's searing hot. Scientists estimate the temperature in this region could be up to 90,032 degrees Fahrenheit—hot enough to melt titanium.  </p>
    </div>
  </div>
  <div class="footer">
    C O M P  C L U B 2 0 2 0
  </div>
</body>
</html>
