<!DOCTYPE html>
<html>
<head>
<title>Mars.</title>
</head>
  <link rel="stylesheet" href="static/main.css">
<body>
  <div class="header">
      <div class="hText">MARS</div>
      <div class="imgContainer">
      <a href="https://ctf-webquestions.compclub.com.au/jupiter">
        <img id = "planetPicture" src = "static/mars_c.jpg" class="planetImage">
      </a>
      </div>
  </div>
  <div class="page-layout">
    <div class = "sidebar">
      <div class="fixed">
        <div class="button">Question 1</div>
        <div class="button">Question 2</div>
        <div class="button">Question 3 </div>
      </div>
    </div>
    <div class = "text">

      <h3>I heard there's Martians</h3>

        <p>
        THE RED PLANET Mars, named for the Roman god of war, has long been an omen in the night sky. And in its own way, the planet’s rusty red surface tells a story of destruction. Billions of years ago, the fourth planet from the sun could have been mistaken for Earth’s smaller twin, with liquid water on its surface—and maybe even life.
  Now, the world is a cold, barren desert with few signs of liquid water. But after decades of study using orbiters, landers, and rovers, scientists have revealed Mars as a dynamic, windblown landscape that could—just maybe—harbor microbial life beneath its rusty surface even today.
        </p>
        <p>Orbiting at a distance of roughly 2.8 billion miles from the sun, Neptune is the furthest planet yet discovered in our solar system (that is, after Pluto's reclassification as a dwarf planet in 2006). Neptune rotates quickly compared to Earth, with one day taking 16 Earth hours. But its great distance from the sun means the years are long, requiring 165 Earth years to make one trip around our glowing star.
        At such a distance from Earth, Neptune is the solar system's only planet that can't be seen in our night sky without a telescope. Even neighboring Uranus, though faint, glints overhead on a clear dark night. That means that Neptune wasn't an easy planet to discover. Some suggest that Galileo Galilei first spotted Neptune as early as 1613. Many believe that he mistook it for a star at the time, yet some scientists think that may not be the case.
        Most attribute Neptune's discovery to mathematical mastery in the 1800s. After the discovery of Uranus at the turn of the century, astronomers noticed it seemed to be affected by a strange gravitational tug. This oddity led British mathematician John Couch Adams to calculate Neptune's potential position in the 1840s. A couple of years later, French astronomer Urbain Le Verrier did the same.
        The calculations were finally confirmed in 1846 when German astronomer Johann Gottfried Galle used Le Verrier's predictions to locate the ice giant, which was dubbed Neptune after the Roman god of the sea.
        Frosty but hot</p>
        <p>Neptune is just one of two ice giants in our cosmic family, along with Uranus. It's blanketed in an atmosphere of hydrogen and helium, with traces of methane, water, and ammonia. Underneath an initial chilly layer, temperatures and pressures rapidly increase.
        Deep under its cloud tops, Neptune might sport a vast, roiling-hot ocean of water that envelops its rocky core. But not all scientists agree that the planet is cool enough for such liquid to stick around without evaporating.
        Methane in the atmosphere reflects blue light, painting the world in vibrant color. In most pictures, Neptune seems to be a deeper and more brilliant blue than Uranus, which looks like a pale turquoise dot. But Neptune is likely similarly pale as its neighbor and just appears darker in images because of its greater distance from the sun. Still, according to NASA, there may be some other, unknown component of Neptune's atmosphere that colors the world a slightly different hue.
        Celestial tagalongs</p>
        <p>
        Longer year and shifting seasons
        With a radius of 2,106 miles, Mars is the seventh largest planet in our solar system and about half the diameter of Earth. Its surface gravity is 37.5 percent of Earth’s.
         Mars rotates on its axis every 24.6 Earth hours, defining the length of a Martian day, which is called a sol (short for “solar day”). Mars’s axis of rotation is tilted 25.2 degrees relative to the plane of the planet’s orbit around the sun, which helps give Mars seasons similar to those on Earth. Whichever hemisphere is tilted closer to the sun experiences spring and summer, while the hemisphere tilted away gets fall and winter. At two specific moments each year—called the equinoxes—both hemispheres receive equal illumination.
        <p>
        But for several reasons, seasons on Mars are different from those on Earth. For one, Mars is on average about 50 percent farther from the sun than Earth is, with an average orbital distance of 142 million miles. This means that it takes Mars longer to complete a single orbit, stretching out its year and the lengths of its seasons. On Mars, a year lasts 669.6 sols, or 687 Earth days, and an individual season can last up to 194 sols, or just over 199 Earth days.
        The angle of Mars’s axis of rotation also changes much more often than Earth's, which has led to swings in the Martian climate on timescales of thousands to millions of years. In addition, Mars’s orbit is less circular than Earth’s, which means that its orbital velocity varies more over the course of a Martian year. This annual variation affects the timing of the red planet’s solstices and equinoxes. On Mars, the northern hemisphere’s spring and summer are longer than the fall and winter.
        There’s another complicating factor: Mars has a far thinner atmosphere than Earth, which dramatically lessens how much heat the planet can trap near its surface. Surface temperatures on Mars can reach as high as 70 degrees Fahrenheit and as low as -225 degrees Fahrenheit, but on average, its surface is -81 degrees Fahrenheit, a full 138 degrees colder than Earth’s average temperature.
        Windy and watery, once
        </p>
        <p>
        The primary driver of modern Martian geology is its atmosphere, which is mostly made of carbon dioxide, nitrogen, and argon. By Earth standards, the air is preposterously thin; air pressure atop Mount Everest is about 50 times higher than it is at the Martian surface. Despite the thin air, Martian breezes can gust up to 60 miles an hour, kicking up dust that fuels huge dust storms and massive fields of alien sand dunes.
        Once upon a time, though, wind and water flowed across the red planet. Robotic rovers have found clear evidence that billions of years ago, lakes and rivers of liquid water coursed across the red planet’s surface. This means that at some point in the distant past, Mars’s atmosphere was sufficiently dense and retained enough heat for water to remain liquid on the red planet’s surface. Not so today: Though water ice abounds under the Martian surface and in its polar ice caps, there are no large bodies of liquid water on the surface there today.
        Mars also lacks an active plate tectonic system, the geologic engine that drives our active Earth, and is also missing a planetary magnetic field. The absence of this protective barrier makes it easier for the sun’s high-energy particles to strip away the red planet’s atmosphere, which may help explain why Mars’s atmosphere is now so thin. But in the ancient past—up until about 4.12 to 4.14 billion years ago—Mars seems to have had an inner dynamo powering a planet-wide magnetic field. What shut down the Martian dynamo? Scientists are still trying to figure out.

      </p>
      <p>
      High highs and low lows
      Like Earth and Venus, Mars has mountains, valleys, and volcanoes, but the red planet’s are by far the biggest and most dramatic. Olympus Mons, the solar system’s largest volcano, towers some 16 miles above the Martian surface, making it three times taller than Everest. But the base of Olympus Mons is so wide—some 374 miles across—that the volcano’s average slope is only slightly steeper than a wheelchair ramp. The peak is so massive, it curves with the surface of Mars. If you stood at the outer edge of Olympus Mons, its summit would lie beyond the horizon.
      Mars has not only the highest highs, but also some of the solar system’s lowest lows. Southeast of Olympus Mons lies Valles Marineris, the red planet’s iconic canyon system. The gorges span about 2,500 miles and cut up to 4.3 miles into the red planet’s surface. The network of chasms is four times deeper—and five times longer—than Earth’s Grand Canyon, and at its widest, it’s a staggering 200 miles across. The valleys get their name from Mariner 9, which became the first spacecraft to orbit another planet when it arrived at Mars in 1971.
      A tale of two hemispheres
      About 4.5 billion years ago, Mars coalesced from the gaseous, dusty disk that surrounded our young sun. Over time, the red planet’s innards differentiated into a core, a mantle, and an outer crust that’s an average of 40 miles thick.
      Its core is likely made of iron and nickel, like Earth’s, but probably contains more sulfur than ours. The best available estimates suggest that the core is about 2,120 miles across, give or take 370 miles—but we don’t know the specifics. NASA’s InSight lander aims to unravel the mysteries of Mars’s interior by tracking how seismic waves move through the red planet.
      Mars’s northern and southern hemispheres are wildly different from one another, to a degree unlike any other planet in the solar system. The planet’s northern hemisphere consists mostly of low-lying plains, and the crust there can be just 19 miles thick. The highlands of the southern hemisphere, however, are studded with many extinct volcanoes, and the crust there can get up to 62 miles thick.
      What happened? It’s possible that patterns of internal magma flow caused the difference, but some scientists think it's the result of Mars suffering one or several major impacts. One recent model suggests Mars got its two faces because an object the size of Earth’s moon slammed into Mars near its south pole.
      Both hemispheres do have one thing in common: They’re covered in the planet’s trademark dust, which gets its many shades of orange, red, and brown from iron rust.
      </p>
    </div>
  </div>
  <div class="footer">
    C O M P  C L U B 2 0 2 0
  </div>
</body>
</html>
