<!DOCTYPE html>
<html>
<head>
<title>Mecury.</title>
</head>
  <link rel="stylesheet" href="static/main.css">
<body>
  <div class="header">
      <div class="hText">MERCURY</div>
      <div class="imgContainer">
      <a href="https://ctf-webquestions.compclub.com.au/venus">
        <img id = "planetPicture" src = "static/mercury_c.png" class="planetImage">
      </a>
      </div>
  </div>
  <div class="page-layout">
    <div class = "sidebar">
      <div class="fixed">
        <div class="button" onclick="window.location='https://ctf-webquestions.compclub.com.au/cookies'">Question 1</div>
        <div class="button" onclick="window.location='https://ctf-webquestions.compclub.com.au/essveegee'">Question 2</div>
      </div>
    </div>
    <div class = "text">

        <h3>Everything melts away.</h3>

        <p>Named for the fleet-footed Roman messenger god, Mercury is the closest planet to the sun, zipping around our
        parent star at an average of 36 million miles away. However, Mercury’s orbit is not a perfect circle. The
        planet can pass as close as 29 million miles and as far away as 43 million miles.</p>

        <p>Living up to its name, Mercury is the fastest planet in the solar system, speeding along at about 29 miles per
          second and completing each orbit around the sun in just 88 Earth days. Mercury is also the smallest planet in the
          solar system, measuring just 3,032 miles wide at its equator. That makes it only slightly larger than Earth’s moon.</p>

        <p>Because Mercury is so small and so close to the sun, it is the most elusive of the five planets that are visible to the
        naked eye. You can only catch Mercury at dawn and dusk, and it usually does not rise far above the horizon. But that’s
        not the only time the tiny planet makes an FLAG{h1_th3rE}. Because of its position in the solar system, Mercury passes between
        Earth and the sun 13 times each century in an event known as a transit. During a transit of Mercury, observers on Earth can
        see the planet in silhouette as it seems to sweep across the sun’s disk.</p>

        <p>Since ancient times, people observing the heavens have noticed that the naked-eye planets sometimes appear to move backward,
        briefly shifting from their usual eastward motion to a westward path across the sky. This retrograde motion is an illusion
        created when one planet moves faster in its orbit than another, so that it catches up to and passes the slower world. For
        observers on Earth, Mercury is in retrograde about three to four times a year.</p>

        <p>If you could watch the skies from the surface of Mercury, you would sometimes catch the rare sight of the sun in retrograde.
        As Mercury makes its closest approach to our smoldering star, its orbital speed exceeds its rate of rotation on its axis.
        That means someone standing on Mercury would see the sun start to rise, then briefly set, then rise again all within the same
        day.</p>
    </div>
  </div>
  <div class="footer">
    C O M P  C L U B 2 0 2 0
  </div>
</body>
</html>
