<!DOCTYPE html>
<html>
<head>
<title>Neptune.</title>
</head>
  <link rel="stylesheet" href="static/main.css">
  <script src="static/flag.js"></script>
<body>
  <div class="header">
      <div class="hText">NIBBA NEPTUNE</div>
      <div class="imgContainer">
      <a href="https://ctf-webquestions.compclub.com.au/mercury">
        <img id = "planetPicture" src = "static/neptune_c.png" alt = "The blue planet" class="planetImage">
      </a>
      </div>
  </div>
  <div class="page-layout">
    <div class = "sidebar">
      <div class="fixed">
        <div class="button">Question 1</div>
        <div class="button">Question 2</div>
        <div class="button">Question 3 </div>
      </div>
    </div>
    <div class = "text">

      <h3>Keep it frosty folks.</h3>

      <p>
        NEPTUNE MAY SEEM like a serene sapphire world at first glance. But don't let its quiet azure hues fool you: The eighth planet from the sun is a wild child.
        Neptune is the windiest planet in our solar system, whipping up momentous gusts that can reach more than 1,200 miles an hour. That soothing sapphire expanse does reveal some of the whirling chaos below in the form of cloudy bands and massive gyres that look like dark smudges on its surface.
        One “Great Dark Spot” captured by Voyager 2 in 1989 could have fit an entire Earth inside. Though it's since disappeared, others have taken its place. In March of 2019, astronomers revealed for the first time that they witnessed the birth of one of Neptune's massive storms. Nearly as big as the maelstrom that Voyager documented, the baby storm seemed to take shape from bright white clouds between 2015 through 2017, emerging as a full-fledged gyre in 2018.
        Dreaming of blue</p>

        <p>Orbiting at a distance of roughly 2.8 billion miles from the sun, Neptune is the furthest planet yet discovered in our solar system (that is, after Pluto's reclassification as a dwarf planet in 2006). Neptune rotates quickly compared to Earth, with one day taking 16 Earth hours. But its great distance from the sun means the years are long, requiring 165 Earth years to make one trip around our glowing star.
        At such a distance from Earth, Neptune is the solar system's only planet that can't be seen in our night sky without a telescope. Even neighboring Uranus, though faint, glints overhead on a clear dark night. That means that Neptune wasn't an easy planet to discover. Some suggest that Galileo Galilei first spotted Neptune as early as 1613. Many believe that he mistook it for a star at the time, yet some scientists think that may not be the case.
        Most attribute Neptune's discovery to mathematical mastery in the 1800s. After the discovery of Uranus at the turn of the century, astronomers noticed it seemed to be affected by a strange gravitational tug. This oddity led British mathematician John Couch Adams to calculate Neptune's potential position in the 1840s. A couple of years later, French astronomer Urbain Le Verrier did the same.
        The calculations were finally confirmed in 1846 when German astronomer Johann Gottfried Galle used Le Verrier's predictions to locate the ice giant, which was dubbed Neptune after the Roman god of the sea.
        Frosty but hot</p>
        <p>Neptune is just one of two ice giants in our cosmic family, along with Uranus. It's blanketed in an atmosphere of hydrogen and helium, with traces of methane, water, and ammonia. Underneath an initial chilly layer, temperatures and pressures rapidly increase.
        Deep under its cloud tops, Neptune might sport a vast, roiling-hot ocean of water that envelops its rocky core. But not all scientists agree that the planet is cool enough for such liquid to stick around without evaporating.
        Methane in the atmosphere reflects blue light, painting the world in vibrant color. In most pictures, Neptune seems to be a deeper and more brilliant blue than Uranus, which looks like a pale turquoise dot. But Neptune is likely similarly pale as its neighbor and just appears darker in images because of its greater distance from the sun. Still, according to NASA, there may be some other, unknown component of Neptune's atmosphere that colors the world a slightly different hue.
        Celestial tagalongs</p>

        <p>Neptune has 14 known moons as of 2019. Its largest celestial tagalong, Triton, is the solar system's only large moon that has a retrograde orbit, which means it zips around Neptune in the opposite direction than its host planet's rotation. This curious orbital direction may be evidence that it wasn't always a moon.
        Instead, researchers propose Triton started as a binary system—similar to the dwarf planet Pluto and its moon Charon. As it passed by, Neptune's gravity kidnapped Triton from the pair and trapped it in orbit. Triton has a thin atmosphere that seems to be growing warmer, but scientists are unsure why.
        Five known rings of rocks and dust encircle Neptune—all named after astronomers who helped bring to light details about the windy world. The ring names are Galle, Le Verrier, Lassell, Arago, and Adams. Neptune also has several partial rings, known as arcs.
        Only one spacecraft has ever visited the dark blue world. Voyager 2 whipped by in 1989, collecting captivating data and images. Though many scientists have proposed additional visits, none have yet been approved.</p>

        <p>Until another plan is crafted to visit Neptune,
        researchers will have to appease their curiosity from afar,
        capitalizing on observations from the Hubble Space Telescope as well as
        telescopes that have their bases firmly planted on the ground</p>
      </p>
    </div>
  </div>
  <div class="footer">
    C O M P  C L U B 2 0 2 0
  </div>
</body>
</html>

<!-- FLAG{HeY_Lo0k -->>
