<!DOCTYPE html>
<html>
<head>
  <title>DO ANDROIDS DREAM?</title>

</head>
  <link rel="stylesheet" href="/static/robots.css">
<body>
    <div id="site">
        <div class="text">
          >_ BZZZT!  E R R O R
          >_ ROBOT ACCESS DENIED
          >_ HAIKU PROTOCOL INITIATED
          >_ PRINTING....
          >_ DOCUMENTS FOR ME
          >_ TO KEEP THE ROBOTS AWAY
          >_ ROBOTS.TXT</div>
        <div class='ba_1 blue_aes round_rectangle'></div>
        <div class='ba_2 blue_aes round_rectangle'></div>
        <div class='wa_1 white_aes round_rectangle'></div>
        <div class='wa_2 white_aes round_rectangle'></div>
        <div class='wa_3 white_aes round_rectangle'></div>
        <img class='picture' src='/static/robot.png'></div>
    </div>
</body>
</html>
