<!DOCTYPE html>
<html>
<head>
<title>Saturn.</title>
</head>
  <link rel="stylesheet" href="/static/main.css">
<body>
  <div class="header">
      <div class="hText">Saturn FLAG{ItsLonelyHere}</div>
      <div class="imgContainer">
      <a href="https://ctf-webquestions.compclub.com.au/uranus">
        <img id = "planetPicture" src = "../static/uranus_c.png" class="planetImage">
      </a>
      </div>
  </div>
  <div class="page-layout">
    <div class = "sidebar">
      <div class="fixed">
      </div>
    </div>
    <div class = "text">

      <h3>Begin a revolution.</h3>

      <p>Saturn was the most distant of the five planets known to the ancients. In 1610, Italian astronomer Galileo Galilei was the
        first to gaze at Saturn through a telescope. To his surprise, he saw a pair of objects on either side of the planet.
        He sketched them as separate spheres and wrote that Saturn appeared to be triple-bodied. In 1659, Dutch astronomer
         Christiaan Huygens, using a more powerful telescope than Galileo's, proposed that Saturn was surrounded by a thin,
         flat ring.</p>

      <p>In 1675, Italian-born astronomer Jean-Dominique Cassini discovered a "division" between what are now called the A and B
        rings. It is now known that the gravitational influence of Saturn's moon Mimas is responsible for the Cassini Division,
        which is 3,000 miles (4,800 kilometers) wide.</p>

      <p>Like Jupiter, Saturn is made mostly of hydrogen and helium. Its volume is 755 times greater than that of Earth.
        Winds in the upper atmosphere reach 1,600 feet (500 meters) per second in the equatorial region. (In contrast,
        the strongest hurricane-force winds on Earth top out at about 360 feet, or 110 meters, per second.) These superfast winds,
        combined with heat rising from within the planet's interior, cause the yellow and gold bands visible in the atmosphere.</p>

      <p>Saturn's ring system is the most extensive and complex in the solar system, extending hundreds of thousands of kilometers
        from the planet. In the early 1980s, NASA's two Voyager spacecraft revealed that Saturn's rings are made mostly of water ice.
         They also found "braided" rings, ringlets, and "spokes," dark features in the rings that circle the planet at different
         rates from that of the surrounding ring material. Material in the rings ranges in size from a few micrometers to several
         tens of meters, and the size and structure of the rings are partly a product of the gravitational influenceof several of
         Saturn's moons, known as "shepherd moons." Two of Saturn's small moons orbit within gaps in the main rings, and the rings
         are divided into seven sections.</p>

    </div>
  </div>
  <div class="footer">
    C O M P  C L U B 2 0 2 0
  </div>
</body>
</html>
