<!DOCTYPE html>
<html>
<head>
<title>Uranus.</title>
</head>
  <link rel="stylesheet" href="static/main.css">
<body>
  <div class="header">
      <div class="hText">URANUS</div>
      <div class="imgContainer">
      <a href="https://ctf-webquestions.compclub.com.au/neptune">
        <img id = "planetPicture" src = "static/uranus_c.png" alt = "The blue planet" class="planetImage">
      </a>
      </div>
  </div>
  <div class="page-layout">
    <div class = "sidebar">
      <div class="fixed">
        <div class="button">Question 1</div>
        <div class="button">Question 2</div>
        <div class="button">Question 3 </div>
      </div>
    </div>
    <div class = "text">

      <h3>Frozen Solid.</h3>

      <p>Uranus, the seventh planet from the sun, may initially look like a bland, blue-green ball. But there's a lot to love about the
       icy giant, from its 13 rings to its 27 known moons to the fact that it may even rain diamonds from its hazy atmosphere.</p>

       <p>Uranus was the first of three planets in our solar system discovered thanks to the invention of the telescope. In March 1781 
      British astronomer Sir William Herschel spotted the glinting object in the sky, initially mistaking it for a comet. When it was
       accepted as a planet years later, Herschel lobbied to call the discovery Georgium Sidus after King George III. Instead, it got
        its official name from the Greek god of the sky, Uranus, who was both son and husband to Gaea, the goddess of Earth.</p>
      
        <p>The planet Uranus was so hard to find in part because it is a whopping 1.8 billion miles away. But it is actually the 
      third-largest planet in our solar system, and is roughly four times wider than Earth.</p>
      
      <p>Like Saturn, Jupiter, and Neptune, Uranus is a big ball of gas, often called a jovian or gas giant world. Uranus owes its
       vibrant blue-green hues not from unusual oceans but from an upper atmosphere flush with methane, which absorbs the sun's red 
       light and scatters blue light back to our eyes.ns someone standing on Mercury would see the sun start to rise, then briefly 
       set, then rise again all within the same 
      day.</p>
      
    </div>
  </div>
  <div class="footer">
    C O M P  C L U B 2 0 2 0
  </div>
</body>
</html>
