<!DOCTYPE html>
<html>
<head>
<title>Venus.</title>
</head>
  <link rel="stylesheet" href="../static/main.css">
<body>
  <div class="header">
      <div class="hText">VENUS</div>
      <div class="imgContainer">
      <a href="https://ctf-webquestions.compclub.com.au/earth">
        <img id = "planetPicture" src = "../static/venus_c.png" class="planetImage">
      </a>
      </div>
  </div>
  <div class="page-layout">
    <div class = "sidebar">
      <div class="fixed">
        <div class="button" onclick="window.location='https://ctf-webquestions.compclub.com.au/robots'">Question 1</div>
        <div class="button" onclick="window.location='https://ctf-webquestions.compclub.com.au/steg'">Question 2</div>
        <div class="button" onclick="window.location='https://ctf-webquestions.compclub.com.au/hex'">Question 3 </div>
      </div>
    </div>
    <div class = "text">

      <h3>Heat Unending.</h3>

      <p>The first spacecraft to set mechanical feet on another planet landed on Venus. In the 1960s and '70s, the former Soviet Union's
      Venera probes plunged through the planet's punishing atmosphere, with a handful even sending back data from its rocky surface. 
      In December 1970, for instance, the Venera 8 lander transmitted atmospheric data for more than 50 minutes after its turbulent 
      touchdown. These early missions provided an important lesson: Venus is like a massive pressure cooker.</p>

      <p>Although the planet is the second closest planet to the sun, it's by far the hottest of the eight worlds in our solar system. 
      Its thick atmosphere is mostly made of carbon dioxide with clouds of sulfuric acid, which traps the sun's heat and creates a 
      runaway greenhouse effect.</p>
      
      <p>Thanks to this atmospheric blanket, temperatures on Venus' surface can soar over 880 degrees Fahrenheit—hot enough to melt lead. 
      The surface pressure is around 90 times that on Earth, which would feel like standing under about a half a mile of water. 
      Wintertime doesn't even provide a reprieve from the heat. With an axial tilt of three degrees, Venus has just one season: hot.</p>
      
      <p>The only planet named after a female figure, Venus is a celestial oddball. Though its rocks are shades of grey, its atmosphere 
      imparts an eerie orange glow to the landscape. Together with Mercury, it's one of the few planets in our solar system without a
      moon. And like Uranus, it turns on its axis in the opposite direction to the rest of our celestial family. Due to this 
      retrograde rotation, if you were to stand on Venus' surface, the sun would rise in the West and set in the East.</p>

      <p>But don't count on catching many Venusian sunsets; the planet turns stunningly slow. A single day there takes 243 Earth 
      days—longer than a Venusian year, which lasts 225 Earth days. And because the planet rotates in the opposite direction as 
      its orbit, 117 Earth days pass between each sunrise and sunset.</p>
      
    </div>
  </div>
  <div class="footer">
    C O M P  C L U B 2 0 2 0
  </div>
</body>
</html>
